body {
    position: relative;
    height: 100%;
}

body {
    background: whitesmoke;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper {
    margin-top: 0rem;
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide img {
    object-fit: contain;
    /* box-shadow: -1px 1px 20px 10px black; */
    margin-bottom: 3rem;
    margin-right: 3.5rem;
    /* margin-left: 0.8rem; */
    display: block;
    width: 85%;
    height: 72vh;
    border-radius: 10px;
    transition: ease all 1800ms;
}

.swiper-slide img:hover {
    cursor: pointer;
    scale: 1.03;


}

.weedingpage {
    background-color: #fdfbfb;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#filter {
    display: flex;
    flex-direction: column;
    background-color: #242a3156;
    width: 44%;
    height: 100vh;
}

.weedingimg {
    box-shadow: -2px 2px 20px 5px #ff5d8f;
    width: 40%;
    overflow: hidden;
}

.weedingimg1 {
    padding-left: 0;
    border-radius: 10px 10px 0 0;
    /* margin: 0.01rem; */
    /* margin-top: 0.5rem; */
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: ease all 1800ms;
}

.weedingimg1:hover {

    cursor: pointer;
    scale: 1.07;


}

.weedinghallsh3 {
    color: #0077b6;
    margin-bottom: 0.11rem;
    margin-top: 0.3rem;
    text-align: center;
    font-size: 40px;
    font-family: "Sevillana", cursive;
    transition: ease all 2000ms;
}

.weedinghallsh3:hover {
    color:
        #ff5d8f;


}

.swiper-slide {
    margin-left: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.awlqa3akber {
    height: 28vh;
    margin-top: -4rem;
    width: 100%;
    display: flex;
}

.awlqa3a {
    text-align: left;
    /* height: 30vh; */
    width: 75%;
}

.awlqa3ah1 {
    /* box-shadow: 8px 12px 20px 10px black; */
    color: #ff5d8f;
    /* color: rgb(13 121 155); */
    /* color: aliceblue; */
    font-family: 'Sevillana';
    TEXT-ALIGN: left;
    padding-bottom: 0.3rem;
}

.awlqa3ap {
    font-family: sans-serif;
    margin-top: -1rem;
}

.awlqa3ap2 {
    font-family: sans-serif;
    margin-top: -1rem;
}

.awlqa3a2 {
    margin-bottom: 3rem;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.awlqa3a2p {
    color: #ff5d8f;
    font-size: 20px;
    font-family: cursive;
    /* color: rgb(13 121 155); */
    /* color: #00BCD4; */
    /* color: rgb(13 121 155); */
}

.awlqa3a2button {
    box-shadow: -1px 1px 6px 0px black;
    background-color: #ff5d8f;
    border-radius: 25px;
    /* background-color: rgb(13 121 155); */
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: ease-in-out 400ms;
}

.awlqa3a2button:hover {
    cursor: pointer;
    transform: translate(0px, -10px);
    color: white;
    background-color: #0077b6;
}


@media screen and (min-width: 1024px) and (max-width: 1262px) {}

@media screen and (min-width: 767px) and (max-width: 1024px) {

    .awlqa3akber {
        margin-top: -4rem;
        width: 87%;
        display: flex;
    }

    .awlqa3a2button {
        box-shadow: -1px 1px 6px 0px black;
        background-color: #ff5d8f;
        border-radius: 25px;
        /* background-color: rgb(13 121 155); */
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition: ease-in-out 400ms;
    }



}


@media screen and (min-width: 525px) and (max-width: 767px) {
    .weedingpage {
        background-color: #fdfbfb;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .weedingimg {
        width: 100%;
        overflow: hidden;
    }



    .weedingimg1 {

        border-radius: 10px 10px 0 0;

        width: 100%;
        height: 40vh;
        object-fit: cover;
        transition: ease all 700ms;
    }

    .swiper-slide img {
        display: block;
        width: 85%;
        height: 41vh;
        object-fit: cover;
        border-radius: 20px;
        transition: ease all 800ms;
    }

    .awlqa3a {
        text-align: left;
        /* height: 30vh; */
        width: 55%;
    }

    .awlqa3ap {
        font-family: sans-serif;
        margin-top: -1rem;
        font-size: 16px;
    }

    .awlqa3ap2 {
        font-family: sans-serif;
        margin-top: -1rem;
        font-size: 16px;
    }

    .awlqa3a2p {
        font-size: 18px;
        font-family: cursive;
        color: #b35c6c;
        /* color: #00BCD4; */

    }

    .awlqa3a2button {
        box-shadow: -1px 1px 6px 0px black;
        background-color: #ff5d8f;
        border-radius: 25px;
        /* background-color: rgb(13 121 155); */
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition: ease-in-out 400ms;
    }

    .awlqa3a2button:hover {
        cursor: pointer;
        transform: translate(0px, -10px);
        color: white;
        background-color: #0077b6;


    }

    .awlqa3akber {
        margin-top: -4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-slide {
        display: flex !important;
    }

    .swiper-wrapper {
        position: relative;
        width: 103% !important;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
        gap: 20px;
    }

    .swiper {
        margin-top: 0rem;
        width: 100%;
        height: 100vh;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95% !important;
    }

    .swiper-slide {
        height: 62vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

    }

    .weedingimg {
        width: 100%;
        overflow: hidden;
        box-shadow: -9px -11px 20px 10px black;
    }
}

@media screen and (min-width: 340px) and (max-width: 525px) {
    .weedingpage {
        background-color: #fdfbfb;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .weedingimg {
        width: 100%;
        overflow: hidden;
    }



    .weedingimg1 {

        border-radius: 10px 10px 0 0;

        width: 100%;
        height: 40vh;
        object-fit: cover;
        transition: ease all 700ms;
    }

    .swiper-slide img {
        display: block;
        width: 85%;
        height: 41vh;
        object-fit: cover;
        border-radius: 20px;
        transition: ease all 800ms;
    }

    .awlqa3a {
        text-align: left;
        /* height: 30vh; */
        width: 55%;
    }

    .awlqa3ap {
        font-family: sans-serif;
        margin-top: -1rem;
        font-size: 14px;
    }

    .awlqa3ap2 {
        font-family: sans-serif;
        margin-top: -1rem;
        font-size: 14px;
    }

    .awlqa3a2p {
        font-size: 14px;
        font-family: cursive;
        color: rgb(13 121 155);
        /* color: #00BCD4; */
        color: rgb(13 121 155);
    }

    .awlqa3a2button {
        box-shadow: -1px 1px 6px 0px black;
        background-color: #ff5d8f;
        border-radius: 25px;
        /* background-color: rgb(13 121 155); */
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        transition: ease-in-out 400ms;
    }

    .awlqa3a2button:hover {
        cursor: pointer;
        transform: translate(0px, -10px);
        color: white;
        background-color: #0077b6;


    }

    .awlqa3akber {
        margin-top: -4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-slide {
        display: flex !important;
    }

    .weedinghallsh3 {
        color: rgb(13 121 155);
        margin-bottom: 0.11rem;
        margin-top: 0.3rem;
        text-align: center;
        font-size: 27px;
        font-family: "Sevillana", cursive;
    }

    .swiper-slide {
        display: flex !important;
    }

    .swiper-wrapper {
        position: relative;
        width: 100% !important;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
        gap: 20px;
    }

    .swiper {
        margin-top: 0rem;
        width: 100%;
        height: 100vh;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95% !important;
    }

    .swiper-slide {
        height: 62vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

    }

    .weedingimg {
        width: 100%;
        overflow: hidden;
        box-shadow: -9px -11px 20px 10px black;
    }
}